---
permalink: 'humans.txt'
---
# humanstxt.org/
# The humans responsible & technology colophon

# TEAM

    Lincoln -- Hacker -- @LincolnPiress

# THANKS

    https://mlh.io/
    https://hackyourportfolio.devpost.com/
    https://bootstrapstudio.io/
    https://html5boilerplate.com/
    https://www.11ty.dev/docs
    https://ghost.org/docs/content-api/
    https://parceljs.org/

# TECHNOLOGY COLOPHON

    CSS3, HTML5
    NJK, Eleventy
    Ghost
    Digital Ocean
    Apache Server Configs, jQuery, Modernizr, Normalize.css
